# Maven project files
.classpath
.project
.settings

# IntelliJ project files
.idea
*.iml
*.ipr
*.iws

bin
target

.clover
.fbprefs
*.orig

dependency-reduced-pom.xml
pom.xml.bak
pom.xml.releaseBackup
pom.xml.versionsBackup

.DS_Store

*.jar

# Eclipse Project files
.metadata
.recommenders

# Intellij
*.iml

# dumps directory
dumps/

# docs
docs/resources/
docs/public/
docs/node_modules/